<div class="container-fluid">

    <div class="row mt-3 mb-2" style="height: 3rem">
        <div class="col-12 col-lg-8 mx-auto" *ngIf="this.gameStart" style="height: 100%">
            <div class="col-10 d-flex mx-auto text-center" style="height: 100%">
                <div class="col-5 mx-auto text-center m-auto d-flex align-items-center" style="height: 100%">
                    <div class="col-3 avatar-container50">
                        <img class="avatar" [src]="playerLeft.avatar" alt="avatar picture">
                    </div>
                    <div class="col-9 mx-auto text-center">
                       {{playerLeft.nickName}}
                    </div>
                </div>

                <div class="col-2 mx-auto text-center m-auto d-flex align-items-center" style="height: 100%">
                    <div class="col-12 display-2">
                        ×
                    </div>
                </div>
                <div class="col-5 mx-auto text-center m-auto d-flex align-items-center" style="height: 100%">
                    <div class="col-9 text-center">
                        {{playerRight.nickName}}
                    </div>
                    <div class="col-3 avatar-container50" >
                        <img class="avatar" [src]="playerLeft.avatar" alt="avatar picture">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <canvas #gameCanvasRemote class="game mx-auto" width="800" height="400">Game part</canvas>
      
      <div class="col-6 mx-auto">
        <app-chat></app-chat>
      </div>
    </div>
    <div class="row">
        <button class="btn btn-secondary m-3 col-2 mx-auto" *ngIf="!this.gameStart" (click)="cancel()">cancel</button>
    </div>

</div>
