<!-- S'il reçois des donnée, il les attribut dans la variable userData (as userData) -->
<!-- Pour afficher une donnée, il suffit de faire {{userData.dataName}} -->
<!-- "userData$" est l'observable, on l'appel donc puis "| async" te permet d'avoir les données récupéré par l'obervable et empêche les fuites mémoire -->
<div class="profile-page" *ngIf="userData$ | async as userData">
  <img class="avatar" [src]="userData.avatar" alt="avatar picture">
  <p>Login: {{userData.login}}</p>
  <p>Firstname: {{userData.firstName}}</p>
  <p>Lastname: {{userData.lastName}}</p>
  <p>Nickname: {{userData.nickName}}</p>
  <p>Email: {{userData.email}}</p>
  <p>A2F: <span *ngIf="userData.a2f; else deactivatedText">activated</span><ng-template #deactivatedText>deactivated</ng-template></p>
  <p>Friends: my-friends</p>
  <p>History: my-games-history</p>
  <p>(Achievements: my-achievements)</p>
  <button (click)="openDialog()">Change my profile</button>
</div>
