.line {
  max-height: 30px;
  overflow: hidden;
  margin-right: 10px;
}

.line #key {
  display: inline-block;
  font-weight: bold;
}

.matchHistory, .stat {
  width: 350px;
}

.matchHistory h5, .stat h5 {
  text-align: center;
}

.history {
  max-height: 200px;
  width: 100%;
  overflow: auto;
}

.line #value {
  display: inline-block;
  margin-left: 5px;
}

.profile-content {
  color: white;
  background-color: rgba(#303030, 0.6);
}

.delete-modal, .update-modal {
  background-color: #303030;
  color: white;
}

.update-modal input {
  background-color: transparent;
  color: white;
  border-color: #A4A4A4;
}

.update-modal ::placeholder {
  color: grey;
}

input[type="file"]::file-selector-button {
  background-color: #444444;
  color: white;
}

.btn-danger {
  background-color: #A70D2A;
  border: none;
}

.btn-info {
  background-color: #00307A;
  border: none;
  color: white;
}

.row {
  margin-left: 15%;
}
