<div class="profile-page" *ngIf="userData$ | async as userData">
  <button (click)="Logout()">Logout</button>
  <img class="avatar img-fluid" [src]="userData.avatar" alt="avatar picture">
  <p>Login: {{userData.login}}</p>
  <p>Firstname: {{userData.firstName}}</p>
  <p>Lastname: {{userData.lastName}}</p>
  <p>Nickname: {{userData.nickName}}</p>
  <p>Email: {{userData.email}}</p>
  <p class="form-check form-switch">
    <label class="form-check-label" for="a2fCheck">A2F </label>
    <input class="form-check-input" type="checkbox" role="switch" id="a2fCheck" [checked]="userData.a2f" disabled>
  </p>
  <section>
    <h5>Match History :</h5>
    <hr>
    <div *ngIf="gameHistory.length != 0">
      <content *ngFor="let game of gameHistory">
        <p *ngIf="game.size === 2"> 1v1 Game</p>
        <p *ngIf="game.size > 2"> Tournament Game</p>
        <p *ngIf="game.local"> Local Game</p>
        <p *ngIf="!game.local">Remote Game</p>
        <p *ngIf="game.victory">Win</p>
        <p *ngIf="!game.victory">Loose</p>
        <p>{{game.createdAt}}</p>
        <hr>
      </content>
    </div>
  </section>
  <section>
    <h5>My Stats: </h5>
    <p>Win: {{this.win}}</p>
    <p>Loose: {{this.loose}}</p>
    <p>Winrate: {{this.winrate}} %</p>
  </section>
  <button type="button" class="btn btn-info" (click)="openModal(updateContent)">Change my profile</button>
  <button type="button" class="btn btn-danger" (click)="openModal(deleteContent)">
    Delete account
  </button>
</div>

<!-- Delete modal -->
<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete account</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        Are you sure ?
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete my account</button>
  </div>
</ng-template>

<!-- Update modal -->
<ng-template #updateContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Update profile</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="updateDatas()">
      <div class="mb-3">
        <div *ngIf="userData$ | async as userData">
          <div>
            <div>
              <span>Firstname</span>
              <input placeholder="{{userData.firstName}}" class="form-control" [formControl]="firstname">
            </div>
            <div>
              <span>Lastname</span>
              <input placeholder="{{userData.lastName}}" class="form-control" [formControl]="lastname">
            </div>
            <div>
              <span>Nickname</span>
              <input placeholder="{{userData.nickName}}" class="form-control" [formControl]="nickname">
            </div>
            <div>
              <span>Email</span>
              <input placeholder="{{userData.email}}" class="form-control" [formControl]="email">
            </div>
            <div class="form-check form-switch">
              <span>A2F</span>
              <input class="form-check-input" type="checkbox" role="switch" [formControl]="a2f">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
