.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.matchHistory {
  width: 350px;
}

.history {
  max-height: 200px;
  width: 100%;
  overflow: auto;
}
