<!-- If user doesn't exist show an error-->
<section *ngIf="!user.login">
    <p>No user exist for this id</p>
</section>

<!-- Else show the user information -->
<section *ngIf="user.login">
    <img class="avatar" [src]="user.avatar" alt="avatar picture">
    <p>Login: {{user.login}}</p>
    <p>Nickname: {{user.nickName}}</p>
    <section class="matchHistory">
        <h5>Match History :</h5>
        <hr>
        <div class="history" *ngIf="gameHistory.length !== 0">
            <content *ngFor="let game of gameHistory">
                
            <p *ngIf="game.size === 2"> 1v1 Game</p>
            <p *ngIf="game.size > 2"> Tournament Game</p>
            <p *ngIf="game.local"> Local Game</p>
            <p *ngIf="!game.local">Remote Game</p>
            <p *ngIf="game.victory">Win</p>
            <p *ngIf="!game.victory">Loose</p>
            <p>{{game.createdAt}}</p>
            <hr>
            </content>
        </div>
    </section>
</section>
