.line {
  max-height: 30px;
  margin-top: 10%;
}

.line #key {
  display: inline-block;
  font-weight: bold;
}

.matchHistory {
  width: 35%;
}

.matchHistory h5 {
  text-align: center;
}

.history {
  max-height: 200px;
  width: 100%;
  overflow: auto;
}

.line #value {
  display: inline-block;
  margin-left: 5px;
}

.user-section {
  color: white;
  background-color: rgba(#303030, 0.6);
}

.btn-info {
  background-color: #00307A;
  border: none;
  color: white;
}

.center-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
