<!-- If user doesn't exist show an error-->
<section *ngIf="!user.login">
    <p>No user exist for this id</p>
</section>

<!-- Else show the user information -->
<section *ngIf="user.login" class="user-section">
  <div class="row">
    <div class="col mt-4 me-4 d-flex justify-content-end">
      <div class="avatar-container200">
        <img class="avatar img-fluid" [src]="user.avatar" alt="avatar picture">
      </div>
    </div>

    <div class="col">
      <div class="line fs-3">
        <p id="key">NickName:</p>
        <p id="value">{{user.nickName}}</p>
      </div>
      <button class="btn btn-info mt-3 fs-4" (click)="addFriends()" >Add Friends</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col center-history">
      <section class="matchHistory">
        <hr>
        <h5>Match History</h5>
        <hr>
        <div class="history ms-2" *ngIf="gameHistory.length !== 0">
          <ng-container *ngFor="let game of gameHistory">
            <p *ngIf="game.size === 2"> 1v1 Game</p>
            <p *ngIf="game.size > 2"> Tournament Game</p>
            <p *ngIf="game.local"> Local Game</p>
            <p *ngIf="!game.local">Remote Game</p>
            <p *ngIf="game.victory">Win</p>
            <p *ngIf="!game.victory">Loose</p>
            <p>{{game.createdAt}}</p>
          </ng-container>
        </div>
        <hr>
      </section>
    </div>
  </div>
</section>
