<!-- If user doesn't exist show an error-->
<section *ngIf="!user.login">
    <p>No user exist for this id</p>
</section>

<!-- Else show the user information -->
<section *ngIf="user.login">
    <img class="avatar" [src]="user.avatar" alt="avatar picture">
    <p>Login: {{user.login}}</p>
    <p>Nickname: {{user.nickName}}</p>
    <button class="btn btn-primary" (click)="addFriends()" >Add Friends</button>
    <section>
        <h5>User Stats</h5>
        <p>Win: {{this.win}}</p>
        <p>Loose: {{this.loose}}</p>
        <p>Winrate: {{this.winrate}} %</p>
      </section>
</section>
