<form (ngSubmit)="updateDatas()">
  <div *ngIf="userData$ | async as userData">
    <div>
      <div>
        <label for="firstname">Firstname</label>
        <input placeholder="{{userData.firstName}}" id="firstname" [formControl]="firstname">
      </div>
      <div>
        <label for="lastname">Lastname</label>
        <input placeholder="{{userData.lastName}}" id="lastname" [formControl]="lastname">
      </div>
      <div>
        <label for="nickname">Nickname</label>
        <input placeholder="{{userData.nickName}}" id="nickname" [formControl]="nickname">
      </div>
      <div>
        <label for="login">Email</label>
        <input placeholder="{{userData.email}}" id="login" [formControl]="email">
      </div>
    </div>
    <div>
      A2F
    </div>
    <div>
      <button type="submit">Confirm</button>
    </div>
  </div>
</form>
