<form (ngSubmit)="updateDatas()">
  <div *ngIf="userData$ | async as userData">
    <div mat-dialog-content>
      <mat-form-field>
        <label for="firstname">Firstname</label>
        <input matInput placeholder="{{userData.firstName}}" id="firstname" [formControl]="firstname">
      </mat-form-field>
      <mat-form-field>
        <label for="lastname">Lastname</label>
        <input matInput placeholder="{{userData.lastName}}" id="lastname" [formControl]="lastname">
      </mat-form-field>
      <mat-form-field>
        <label for="nickname">Nickname</label>
        <input matInput placeholder="{{userData.nickName}}" id="nickname" [formControl]="nickname">
      </mat-form-field>
      <mat-form-field>
        <label for="login">Email</label>
        <input matInput placeholder="{{userData.email}}" id="login" [formControl]="email">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <label for="toggle">A2F</label>
      <mat-slide-toggle [formControl]="a2f" color="primary" id="toggle"></mat-slide-toggle>
    </div>
    <div mat-dialog-actions>
      <button type="submit" mat-raised-button [mat-dialog-close]="true">Confirm</button>
      <button mat-raised-button mat-dialog-close>Cancel</button>
    </div>
  </div>
</form>
