<form (ngSubmit)="updateDatas()">
  <div *ngIf="userData$ | async as userData">
    <div>
      <div>
        <span>Firstname</span>
        <input placeholder="{{userData.firstName}}" class="form-control" [formControl]="firstname">
      </div>
      <div>
        <span>Lastname</span>
        <input placeholder="{{userData.lastName}}" class="form-control" [formControl]="lastname">
      </div>
      <div>
        <span>Nickname</span>
        <input placeholder="{{userData.nickName}}" class="form-control" [formControl]="nickname">
      </div>
      <div>
        <span>Email</span>
        <input placeholder="{{userData.email}}" class="form-control" [formControl]="email">
      </div>
      <div class="form-check form-switch">
        <span>A2F</span>
        <input class="form-check-input" type="checkbox" role="switch" [formControl]="a2f">
      </div>
    </div>
    <div>
      <button type="submit">Confirm</button>
    </div>
  </div>
</form>
