.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  text-align: center;
  color: white;
}

//=================================================================//
//                        User with email                          //
//=================================================================//

.home-buttons button {
  background-color: rgba(#303030, 0.6);
  border: none;
  color: whitesmoke;
}

.home-buttons button:hover {
  background-color: #303030;
}

//=================================================================//
//                             Hand img                            //
//=================================================================//

.hand {
  position: absolute;
  top: 15%;
  left: 35%;
  height: auto;
  width: 10vh;
  opacity: 0;
}

//=================================================================//
//                          Profile button                         //
//=================================================================//

.home-buttons .profile-container {
  position: relative;
}

.home-buttons .profile-container:hover .hand{
  opacity: 1;
}

//=================================================================//
//                             Game button                         //
//=================================================================//

.home-buttons .game-container {
  position: relative;
}

.home-buttons .game-container:hover .hand {
  opacity: 1;
}

//=================================================================//
//                             Chat button                         //
//=================================================================//

.home-buttons .chat-container {
  position: relative;
}

.home-buttons .chat-container:hover .hand {
  opacity: 1;
}

//=================================================================//
