<div class="home-buttons" *ngIf="userData$ | async as userData">
  <ng-container *ngIf="userData.nickName && userData.email; else columnEmpty">
    <div class="row mt-5">
      <button class="btn btn-primary profile fs-1" (click)="moveToProfile()">Profile</button>
    </div>
    <div class="row mt-5">
      <button class="btn btn-primary game fs-1" (click)="moveToGame()">Game</button>
    </div>
    <div class="row mt-5">
      <button class="btn btn-primary chat fs-1" (click)="moveToChat()">Chat</button>
    </div>
  </ng-container>
</div>


<ng-template #columnEmpty>
  <form (ngSubmit)="updateNickname()">
    <div class="form">
      <p>Welcome</p>
      <p>Enter your nickname and your email</p>
      <p>(Your nickname will be your login by default)</p>
      <div>
        <span>Nickname</span>
        <input type="text" class="form-control" [formControl]="nickname">
      </div>
      <div>
        <span>Enter your email</span>
        <input type="text" class="form-control" [formControl]="email" required>
      </div>
    </div>
    <div class="button">
      <simple-notifications></simple-notifications>
      <button type="submit" *ngIf="email.value && email.valid">Confirm</button>
      <button type="submit" *ngIf="!email.value || email.invalid" disabled>Confirm</button>
    </div>
  </form>
</ng-template>



