.content {
  max-height: 350px;
  margin-bottom: 80px !important;
}

.avatar-container {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.username{
  font-size: 15px;
  margin-left: 25px;
}

/* app-friends.component.css */
.status-circle {
  position: absolute;
  margin-left: 33px;
  transform: translate(-28%, -117%);
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.gameState {
  font-size: 10px;
  margin-left: 25px;
  font-style: italic;
}

.option {
  display: block;
}

.option mat-icon {
  color: green;
}