.content {
  max-height: 350px;
  margin-bottom: 120px !important;
  border-radius: 5px;
}

.section-divider {
  border-top: 1px solid white;
  margin: 5px 0;
}

.card {
  background-color: #404040;
  color: white;
}

.avatar-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.friends-button {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.username{
  font-size: 15px;
  margin-left: 25px;
}

/* app-friends.component.css */
.status-circle {
  position: absolute;
  margin-left: 33px;
  transform: translate(-28%, -117%);
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.gameState {
  font-size: 10px;
  margin-left: 25px;
  font-style: italic;
}

.option {
  display: block;
}

.option mat-icon {
  color: green;
}
