<section *ngIf="userData$ | async">
  <div class="overflow-auto">

    <section class="card m-2" *ngIf="pendingFriends.length !== 0">
      <div class="card-header bg-dark ps-2" style="font-size: large;">Pending friend requests</div>
      <content class="card-body list-group list-group-flush m-0 p-0" *ngFor="let user of pendingFriends">
        <div class="card-text m-0 p-0 list-group-item bg-transparent text-light">

          <div class="d-flex flex-row align-items-center justify-content-between p-2" (click)="toggleOption(user)" (keyup)="toggleOption(user)" tabindex="0">
            <div class="d-flex flex-row align-items-center">
              <div class="avatar-container" >
                <img class="img-fluid" [src]="user.avatar" alt="avatar picture">
              </div>
              <div class="status-like-space"></div>
              <div class="d-flex align-items-center" style="font-size: medium;">{{truncateText(user, 12)}}</div>
            </div>
            
            <div *ngIf="user.showOpt" class="option">
              <i *ngIf="!user.applicant" class="bi-person-add" style="font-size: 1.6rem; color: rgb(37, 209, 75);" tabindex="0" (click)="approvedFriendsRequest(user)" (keyup)="approvedFriendsRequest(user)"></i>
              <i class="bi-person-fill-x" style="font-size: 1.6rem; color: rgb(216, 84, 52);" tabindex="0" (click)="deleteFriends(user)" (keyup)="deleteFriends(user)"></i>
              <i *ngIf="!user.applicant" class="bi-person-fill-slash" style="font-size: 1.6rem; color: rgb(110, 109, 103);" tabindex="0" (click)="blockFriends(user)" (keyup)="blockFriends(user)"></i>
            </div>
          </div>

        </div>
      </content>
    </section>

    <section class="card m-2" *ngIf="approvedFriends.length !== 0">
      <div class="card-header bg-dark ps-2" style="font-size: large;">Friends</div>
      <content class="card-body list-group list-group-flush m-0 p-0" *ngFor="let user of approvedFriends">
        <div class="card-text m-0 p-0 list-group-item bg-transparent text-light">

          <div  class="d-flex flex-row align-items-center justify-content-between p-2" (click)="toggleOption(user)" (keyup)="toggleOption(user)" tabindex="0">
          
            <div class="d-flex flex-row align-items-center">
              <div class="avatar-container" >
                <img class="img-fluid" [src]="user.avatar" alt="avatar picture">
              </div>
              <div class="status-circle {{ (user.onlineState === 1 || user.onlineState === 2) ? 'bg-success' : 'bg-secondary' }}"></div>
                <div class="" style="font-size: medium;">{{truncateText(user, 12)}}</div>
              </div>

            <div class="d-flex align-items-center"  style="font-size: small; color: lightgrey;" *ngIf="user.onlineState === 2">[ is playing ]</div>
            <div *ngIf="user.showOpt" class="option">
              <i class="bi-person-fill-x" style="font-size: 1.6rem; color: rgb(216, 84, 52);" tabindex="0" (click)="deleteFriends(user)" (keyup)="deleteFriends(user)"></i>
              <i class="bi-person-fill-slash" style="font-size: 1.6rem; color: rgb(110, 109, 103);" tabindex="0" (click)="blockFriends(user)" (keyup)="blockFriends(user)"></i>
            </div>
            
          </div>
        </div>
      </content>
    </section>

    <section *ngIf="approvedFriends.length === 0 && pendingFriends.length === 0">
      <div class="card m-3">
        <div class="card-title bg-transparent mx-auto m-3" >Go meet some friends ! \o/</div>
      </div>
    </section>
  </div>
</section>
