.friends {
    position: absolute;
    max-height: 350px;
    overflow: auto;
    bottom: 75px;
    right: 0;
    margin-right: 20px;
}

.friends section {
    display: block;
}

.userInfo {
    display: flex;
    text-align: center;
    align-items: center;
}

.avatar {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .option {
    display: block;
  }

  .option mat-icon {
    color: green;
  }
