<div class="gameMode">
  <button (click)="moveToGame('solo', null)">One player</button>
  <button (click)="moveToGame('local', null)">Two players local</button>
  <button (click)="moveToGame('remote', null)">Two players online</button>
  <button (click)="openModal(LocalTournament)">Local tournament</button>
  <button (click)="openModal(lobbySize)">Online tournament</button>


</div>

<!-- Choose Players Number for Tournament modal -->
<ng-template #lobbySize let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Choose Lobby Size</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        Choose number of players for the tournament:
      </div>
      <select class="form-select" aria-label="Default select example" #selectedOption>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
        <option value="6">Six</option>
        <option value="7">Seven</option>
        <option value="8">Eight</option>
      </select>
    </form>
  </div>
  <!-- Maybe we should show this in the modal when people choose the amount of players for the tournament?-->
  <h6>Rules of the tournament: </h6>
  <p>Players affront each other in turn, winners of first round will fight against each other next round.</p>
  <p>If you are not select for a round and than you don't have been eliminated, it means that there was no opponent for you this round. But you will fight against one of the winner of the actual round on the next round.</p>
  <p>If you loose a match, you are eliminated of the tournament.</p>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="moveToGame('tournament_remote', selectedOption.value)">Find Tournament</button>
  </div>
</ng-template>

<ng-template #LocalTournament let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Tournament participants</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        Choose number of players for the tournament:
      </div>
      <select class="form-select" aria-label="Default select example" #selectedOption>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
        <option value="6">Six</option>
        <option value="7">Seven</option>
        <option value="8">Eight</option>
      </select>
    </form>
  </div>
  
  <h6>Rules of the tournament: </h6>
  <p>Players affront each other in turn, winners of first round will fight against each other next round.</p>
  <p>If you are not select for a round and than you don't have been eliminated, it means that there was no opponent for you this round. But you will fight against one of the winner of the actual round on the next round.</p>
  <p>If you loose a match, you are eliminated of the tournament.</p>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="moveToGame('tournament_local', selectedOption.value)">Launch Tournament</button>
  </div>
</ng-template>
