.global {
    display: flex;
    width: 100vw;
    // header height is 80px - footer height is 30px
    height: calc(100vh - 80px - 30px);
    background-color: blue;  
  }
  
  .left-column {
    height: 100%;
    width: 300px;
    background-color: yellow;
  }

  .right-column {
    height: 100%;
    // left column width is 300px
    width: calc(100% - 300px);
    background-color: orange;
  }
  