.svg-icon-check{
    font-weight: bold;
    margin-left: 25px;
    padding-right: 15px;
    margin-bottom: -5px;
    color: green;
}

.svg-icon-close{
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: -5px;
    color: red;
}