.roundInfo {
  padding-bottom: 5%;
}

.fight {
  width: 50%;
  display: flex;
  text-align: center;
  align-items: center;
}

.roundInfo{
  width: 50%;
  display: flex;
  text-align: center;
  align-items: center;
}

.gameDiv {
  height: 70%;
  width: 70%;
}

.username {
  margin-left: 15px;
  margin-right: 15px;
}

.game {
  width: 105vmin;
  height: 60vmin;
  background-color: black;
  margin-top: 1vmin;
}