header {
  background-color: #303030;
  height: 10vh;
}

h1 {
  color: white;
  margin: 0;
}

.offcanvas {
  background-color: #303030;
  color: white;
}

.navbarBtn {
  background-color: transparent;
  border: none;
}

.navbarBtn:hover {
  background-color: #444444;
}
