@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Righteous&display=swap');

header {
  background-color: #303030;
  // height: 10vh;
  width: 100%;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 600;
  // font-family: 'Righteous', sans-serif;
  color: white;
  margin: 0;
}

.offcanvas {
  background-color: #303030;
  color: white;
}

.navbarBtn {
  background-color: transparent;
  border: none;
}

.navbarBtn:hover {
  background-color: #444444;
}
