div.private-channel .channel-list .channel .img-thumb {
    border-radius: 4px;
    max-width: 15%;
    height: auto;
}

div.private-channel .channel-list .channel #profile-name {
    display: inline-block;
    padding: 10px;
}