<div class="global">

  <div id="active-chat-title">Active chat title</div>
  <!-- <simple-notifications></simple-notifications> -->
  <div class="conversation">

    <ul class="messages">
      <div class="capsule" *ngFor="let msg of received_messages">
        <div class="picture-column">
          <div class="thumbnail">  
            <img src={{msg.author.avatar}}/>
          </div>
        </div>
        <div class="message-zone">
          <div class="author-name">{{msg.author.nickName}} :</div>
          <div class="message-content">{{msg.content}}</div>
        </div>
      </div>
    </ul>

    <form class="messagebox" [formGroup]="msg" (ngSubmit)="sendMessage()">
      <input placeholder="Enter your message here" id="messageinput" type="text" formControlName="content" required>
      <button id="sendbutton" type="submit">Send !</button>
    </form>

  </div>

</div>
