<!-- <div class="column">

  <div id="rooms-list">
    <mat-list>
      <mat-list-item>Room 1</mat-list-item>
      <mat-list-item>Room 2</mat-list-item>
      <mat-list-item>Room 3</mat-list-item>
    </mat-list>
  </div>
  
  <div id="room-users">
    <mat-list>
      <mat-list-item>User A</mat-list-item>
      <mat-list-item>User B</mat-list-item>
      <mat-list-item>User C</mat-list-item>
    </mat-list>
  </div>
  
  <div id="conversation">
    <mat-list>
      <mat-list-item>Message a</mat-list-item>
      <mat-list-item>Message b</mat-list-item>
      <mat-list-item>Message c</mat-list-item>
    </mat-list>
  </div>
  
</div> -->

<div class="column">
  <mat-list class="channel-list">
    <mat-list-item class="channel">Global Chat</mat-list-item>
    <mat-list-item class="channel">Dummy 00</mat-list-item>
    <mat-list-item class="channel">Dummy 01</mat-list-item>
  </mat-list>
</div>

<div class="column">
  <div class="channel-title"></div>
  <div class="conversation-column">
    <div class="conversation">
      <mat-list class="messages">
        <mat-list-item class="message">Message a</mat-list-item>
        <mat-list-item class="message">Message b</mat-list-item>
        <mat-list-item class="message">Message c</mat-list-item>
      </mat-list>
    </div>
    <div class="send-message">Send a message to #channel name</div>
  </div>
  <div class="members">
    <mat-list class="users">
      <mat-list-item class="user">User A</mat-list-item>
      <mat-list-item class="user">User B</mat-list-item>
      <mat-list-item class="user">User C</mat-list-item>
      <mat-list-item class="user">User D</mat-list-item>
    </mat-list>
  </div>
</div>
  