<div class="global">
  <div class="title">
    <h4 id="title-text">Title of chat page</h4>
  </div>
  <simple-notifications></simple-notifications>
  <div class="conversation">

    <ul class="messages">
      <div *ngFor="let msg of received_messages">
        <p>{{msg.author.nickName}} : {{msg.content}}</p>
      </div>
    </ul>

  <form class="messagebox" [formGroup]="msg" (ngSubmit)="sendMessage()">
    <input placeholder="Enter a message" id="messageinput" type="text" formControlName="content" required>
    <button id="sendbutton" type="submit">Send !</button>
  </form>
</div>
