.input-group-text {
  width: 100px;
}

.card {
  background-color: #404040;
  color: white;
}

.card.register {
  min-width: 45vh;
}

.card input {
  background-color: #505050;
  color: white;
}

.card .input-group-text {
  background-color: #303030;
  color: white;
}

